@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

*::after,
*::before,
* {
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(10, 79%, 65%);
  --p-fonts: 18px;
  --hero-font: 26px;
  --: hsl(186, 34%, 60%);

  --Darkbrown: hsl(25, 47%, 15%);
  --Mediumbrown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);

  /* Font size */

  --regular: 18px;
  --heading1: 30px;
  --heading2: 24px;
}
body {
  background-color: var(--Cream);
  font-size: var(--regular);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 12px;
  margin: 10px auto;
  color: white;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sm-txt {
  font-size: 13px;
}
.md-txt {
}
.lg-txt {
  font-size: var(--heading2);
}
.grey-col {
  color: var(--Mediumbrown);
}

ul {
  list-style: none;
}

.days {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section {
  background-color: var(--Very-pale-orange);
  color: var(--Darkbrown);
  border-radius: 12px;
}
.text-box {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

@media screen and (max-width: 400px) and (min-width: 200px) {
  .container {
    margin: 0 auto;
    width: 90%;
    max-width: 375px;
  }
}
